<footer class="global-footer">

	<div class="container">

		<div class="footer-left">

			<h4><img src="/assets/img/octopus_50.svg" title="Octopus" width="48" height="48"> Larry’s Cryptocoin Risk Index</h4>
			<p>Free, client side cryptocoin index. Make informed cryptocurrency investment decisions and understand your market risk profile.</p>

			<a href="/privacy.html">Privacy</a>
			<a href="/terms.html">Terms of Use</a>
			<!-- <a href="#">Disclaimer</a> -->

			<p>&copy; <span class="copyright-year">2017</span> Larry’s Cryptocoin Risk Index, LLC</p>

		</div>

		<div class="footer-center">

				<!-- HBS.donate-links -->

		</div>

		<div class="footer-right">

			<h5>Follow Us</h5>

			<!--		<a href="#"><i class="fa fa-facebook"></i></a> -->
			<a href="https://twitter.com/CoinDevIndex?lang=en" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://www.linkedin.com/company/18238926/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
			<!--		<a href="#"><i class="fa fa-github"></i></a> -->

			<h5>Official Telegram</h5>

			<div class="telegram">
				<a href="https://t.me/cryptocoinindex" title="Telegram" target="_blank"><i class="fa fa-telegram"></i>Channel</a>
			</div>
			<div class="telegram">
				<a href="https://t.me/joinchat/DpX-3BHn3yFSLa0pXkkDUw" title="Telegram US" target="_blank"><i class="fa fa-telegram"></i>US</a><img src="/assets/img/USA.svg" width="24" height="16">
			</div>
			<div class="telegram">
				<a href="https://t.me/joinchat/DpX-3A-bQl6RVXjQQdhp-A" title="Telegram India" target="_blank"><i class="fa fa-telegram"></i>IN</a><img src="/assets/img/IND.svg" width="24" height="16">
			</div>

		</div>



			<!-- Quantcast Measure Tag -->
			<noscript>
				<div style="display:none;">
					<img src="https://pixel.quantserve.com/pixel/p-7qhc2DDu8BrpP.gif" border="0" height="1" width="1" alt="Quantcast"/>
				</div>
			</noscript>
			<!-- End of Quantcast Measure Tag -->

	</div>

</footer>
