<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<title>Cryptocoin Software Development Index | Tracking Software Development of Altcoins and ERC-20 Tokens</title>

<meta name="Title" content="Larry's Cryptocoin Development Index | Tracking Cryptocoin Core Software Development">

<meta name="description" content="Tracking Cryptocurrency software development. We track Bitcoin, Altcoin and ERC-20 token core software development progress.">

<meta name="keywords" content="cryptocurrency, virtual coins, ERC-20 tokens, Altcoins, Bitcoin, development index, software tracking, development teams">

<meta name="robots" content="index, follow">

<meta name="Update Date" content="2017-18-10">

<meta property="og:title" content="Larry's Cryptocoin Development Index" />
<meta property="og:description" content="Tracking Cryptocurrency software development. We track Bitcoin, Altcoin and ERC-20 token core software development progress." />
<meta property="og:image" content="/assets/img/octopus_50.svg" />
<meta property="og:url" content="http://coindevelopmentindex.com" />
<meta property="og:locale" content="en_US" />

<!-- Twitter Open Graph -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@CoinDevIndex" />
<meta name="twitter:creator" content="@CoinDevIndex" />
<meta property="og:url" content="http://coindevelopmentindex.com" />
<meta property="og:title" content="Larry's Cryptocoin Software Development Index" />
<meta property="og:description" content="Tracking Cryptocurrency software development so that you don't have to. We track Bitcoin, Altcoin and ERC-20 token core software development progress." />
<meta property="og:image" content="http://coindevelopmentindex.com/assets/img/octopus_500.svg" />

<!-- Facebook Open Graph -->
<meta property="og:type" content="Coindevelopmentindex.com website" />
<meta property="og:locale" content="en_US" />
<meta property="og:url" content="http://coindevelopmentindex.com" />
<meta property="og:title" content="Larry's Cryptocoin Software Development Index" />
<meta property="og:image" content="http://coindevelopmentindex.com/assets/img/octopus_500.svg"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>
<meta property="og:description" content="Tracking Cryptocurrency software development so that you don't have to. We track Bitcoin, Altcoin and ERC-20 token core software development progress." />

<!-- Minified build CSS -->
<link rel="stylesheet" href="/assets/css/coindevelopmentindex.css">

<!-- Sumo Script -->
<script src="https://load.sumome.com/" data-sumo-site-id="616479a2e0a5d822659cd9b571bb3f9e195e012c6968077e5c328a1bb95fc571" async="async"></script>

<!-- Google Adsense -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script>
	(adsbygoogle = window.adsbygoogle || []).push({
		google_ad_client: "ca-pub-3617420856316686",
		enable_page_level_ads: true
	});
</script>
