$grey-dk: #d3d3d3;
$grey-md: #dcdcdc;
$grey-lt: #f5f5f5;

$hdr-blue: #62a0c5;
$hdr-green: #76ae79;

$ftr-blue: #0f2138;

$txt-grey: #343a3d;

$link-blue: #2196F3;

$acc-purple: #573aa7;

$ind-red: #d0021b;
$ind-green: #417505;

$navbar-ht: 58px + 16px;

$ctr-wd-xl: 1600px;
$ctr-wd-lg: 1400px;
$ctr-wd-md: 1080px;
$ctr-wd-sm: 770px;
$ctr-wd-xs: 420px;
