/*! GLOBAL */
@import 'variables';

html,
body {
	font-family: AvenirNext,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, "Helvetica Neue",Arial,sans-serif;
}

nav,
header {
	background-image: linear-gradient(to right, $hdr-blue, $hdr-green);
	color:#fff;
}

nav {
	$nav: &;
	border-bottom:1px solid rgba(255,255,255,0.4);

	.navbar-nav {
		width: 100%;
		justify-content: flex-end;
		text-align:right;
	}

	.navbar-brand {
		max-width:50px;
		overflow:hidden;

		&:link,
		&:active,
		&:visited {
			color:#fff;
			font-weight:100;
			letter-spacing:0.8px;
		}

		img {
			margin-right:1em;
		}
	}

	&.show .navbar-brand {
			max-width:350px;
			transition: max-width 1800ms steps(18, end);
	}

}

header {
	padding-top: $navbar-ht;
	padding-bottom:4em;
	margin-bottom:2em;

	h1 {
		font-size:2.2rem;
		font-weight:300;
		margin-bottom:1em;
	}
	h2 {
		font-size:1.1rem;
		font-weight:100;
		line-height:1.6;
		max-width:26em;
	}
}
