/*! GLOBAL */
@import 'variables';

html,
body {
	font-family: AvenirNext,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, "Helvetica Neue",Arial,sans-serif;
}

:focus {
	outline: 1px dotted !important;
}

nav,
header {
	background-image: linear-gradient(to right, $hdr-blue, $hdr-green);
	color:#fff;
}

nav {
	$nav: &;
	// height:72px;
	border-bottom:1px solid rgba(255,255,255,0.4);

	.navbar-nav {
		width: 100%;
		justify-content: flex-end;
		text-align:right;
	}

	.navbar-brand {
		display:inline-flex;
		align-items:center;
		flex:0 0 50px;
		max-width:50px;
		max-height:50px;
		white-space:normal;
		overflow:hidden;

		&:link,
		&:active,
		&:visited {
			color:#fff;
			font-weight:300;
			// letter-spacing:0.8px;
		}

		img {
			margin-right:1em;
		}

		@media screen and (min-width:450px) {
			white-space:nowrap;
			transition: max-width 1800ms steps(22, end);
		}
	}

	&.show .navbar-brand {
			flex:1 0 auto;
			max-width: calc(100vw - 8em);
	}

}

header {
	padding-top: $navbar-ht;
	padding-bottom:4em;
	margin-bottom:2em;

	h1 {
		font-size:2.2rem;
		font-weight:300;
		margin-bottom:1em;
	}
	h2 {
		font-size:1.1rem;
		font-weight:100;
		line-height:1.6;
		max-width:26em;
	}
}

footer {
	padding:2em 0;
	background: $ftr-blue;
	color:#fff;

	a,
	p,
	span {
		font-weight:100;
		opacity:0.8;
	}

	.container {
		display:flex;
		flex-flow:row wrap;
		justify-content:space-around;
		align-items:flex-start;
	}

	[class*='footer'] {
		flex:1 1 14em;
		display:flex;
		flex-flow:column nowrap;
		justify-content:space-around;
	}

	a:link,
	a:active,
	a:visited {
		color:#fff;
		font-weight:100;
	}
	a:hover {
		text-decoration:underline;
		opacity:1;
	}

	.footer-left {
		max-width:32em;

		h4 {
			display:flex;
			align-items:center;
			font-weight:700;
			opacity:1;

			img {
				margin-right:0.2em;
			}
		}

		a {
			margin-bottom:0.5em;
		}
	}

	.footer-center {

		display:flex;
		flex-flow:row wrap;
		justify-content:flex-start;
		padding:0 3em;

		@media only screen and (max-width:700px){
			order:-2;
			flex-basis:100%;
			margin-bottom:3em;
			padding:0;
			text-align:center;
			justify-content:center;
		}

		h5,
		p {
			flex-basis:100%;
		}

		a:link,
		a:active,
		a:visited {
			color: $link-blue;
			text-decoration:none;
		}

		h5 {
			opacity:1;
		}

		[class*='donate'] {
			min-width:14em;
			padding:0 1em 1em 0;

			.rate {
				display:block;
			}
		}
	}

	.footer-right {
		display:flex;
		flex-flow: row wrap;
		justify-content:flex-start;
		align-items:center;
		flex:0 1 10em;

		h5 {
			flex:1 1 100%;
			margin-bottom:1em;
		}

		a {
			padding:0.2em;
		}

		i.fa {
			color:#fff;
			font-size:1.5em;
			margin:0 0.5em 1em 0;
		}

		.telegram {
			align-self:flex-start;
			font-size:1.2em;

			a:link,
			a:active,
			a:visited {
				color: $link-blue;
				text-decoration:none;
				font-weight:300;
			}

			i.fa {
				margin-right:0.5em;
			}

			img {
				margin-left:0.5em;
				transform: translateY(-2px);
			}
		}

		@media only screen and (max-width:600px) {
			order:-1;
			flex-basis:100%;
			justify-content:center;

			h5 {
				text-align:center;
			}

			.telegram {
				margin-right:1.5em;
			}
		}
	}
}

.container {
	max-width: $ctr-wd-xs;
	overflow: hidden;

	@media only screen and (min-width:500px) {
		max-width: $ctr-wd-sm;
		padding:0 3rem;
	}

	@media only screen and (min-width:900px) {
		max-width: $ctr-wd-md;
	}

	@media only screen and (min-width:1180px) {
		max-width: $ctr-wd-lg;
	}

	@media only screen and (min-width:1500px) {
		max-width: $ctr-wd-xl;
	}

}

.modal .modal-sm {
	@media only screen and (min-width:500px) {
		max-width: 400px;
	}

	.modal-body {
		padding:3em;
		text-align:center;

		.qrcode {
			margin-bottom:2em;
		}
	}

	.modal-footer {
		flex-flow:column;
		justify-content:center;
		align-items:center;

		.hashid {
			width:100%;
			padding:0.5em;
			word-wrap:break-word;
		}

		.copyhash {
			position:relative;
			z-index:1;
			text-transform:uppercase;
			font-weight:bold;
			color:#fff;
			background: $acc-purple;
			padding:0.2em 0.666em;
			cursor:pointer;
		}

		.copied {
			position:relative;
			z-index:0;
			font-size:0.9em;
			text-transform:uppercase;
			color: $acc-purple;
			opacity:0;
			transform: translateY(-100%);
			transition:800ms transform cubic-bezier(0.175, 0.885, 0.32, 1.275), 400ms opacity;

			&.show {
				opacity:1;
				transform: translateY(-350%);
			}
		}
	}

}

.nobreak {
	white-space: nowrap;
}

@media only screen and (max-width:900px) {
	html {
		font-size: calc( 12px + (16 - 12) * (100vw - 300px) / (900 - 300) );
	}
}
