$grey-dk: #d3d3d3;
$grey-md: #dcdcdc;
$grey-lt: #f5f5f5;

$hdr-blue: #62a0c5;
$hdr-green: #76ae79;

$navbar-ht: 58px + 16px;

html,
body {
	font-family: AvenirNext,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, "Helvetica Neue",Arial,sans-serif;
}

nav,
header {
	background-image: linear-gradient(to right, $hdr-blue, $hdr-green);
	color:#fff;
}

nav {
	$nav: &;
	border-bottom:1px solid rgba(255,255,255,0.4);

	.navbar-nav {
		width: 100%;
		justify-content: flex-end;
		text-align:right;
	}

	.navbar-brand {
		max-width:50px;
		overflow:hidden;

		&:link,
		&:active,
		&:visited {
			color:#fff;
			font-weight:100;
			letter-spacing:0.8px;
		}

		img {
			margin-right:1em;
		}
	}

	&.show .navbar-brand {
			max-width:350px;
			transition: max-width 1800ms steps(18, end);
	}

}

header {
	padding-top: $navbar-ht;
	padding-bottom:4em;
	margin-bottom:2em;

	h1 {
		font-size:2.2rem;
		font-weight:300;
		margin-bottom:1em;
	}
	h2 {
		font-size:1.1rem;
		font-weight:100;
		line-height:1.6;
		max-width:26em;
	}
}

#coin-search {

	input {
		width:30em;
		padding:0.8em;
		padding-right:3em;

		&:focus {
			outline: 1px dotted;
		}
	}

	i.fa {
    color:$grey-md;
    transform: translate(-150%, 5px);
	}
}

#coin-list {

	th {

		h2 {
			font-size:1rem;
			line-height:1.3;
		}
		&[data-prop] {
			cursor:pointer;

			.sortable {
				display:flex;
				flex-flow:row nowrap;
				justify-content:space-between;
				align-items:center;

				h2 {
					margin-left:0.2em;
				}
			}

			&.sorted {
				background:#f0f0f0;

				&.asc i.fa-arrow-up {
					opacity:0.7;
				}
				&.desc i.fa-arrow-down {
					opacity:0.7;
				}
			}

			i.fa {
				font-size:0.8em;
				opacity:0.3;
			}

			i.fa-arrow-up {
				transform: translate(-3px, -6px);
			}
			i.fa-arrow-down {
				transform: translate(3px, 6px);
			}

			&[data-prop='rank'] {
				width:56px;
			}
			&[data-prop$='rank'],
			&[data-prop='coinname'],
			&[data-prop='symbol'],
			&[data-prop='type'],
			&[data-prop='trend'] {
				text-align:left;
				background:$grey-dk;
			}
			&[data-prop='blockchain'],
			&[data-prop='team'],
			&[data-prop$='users'] {
				text-align:left;
				background:$grey-md;
			}
			&[data-prop$='forks'],
			&[data-prop$='stars'] {
				background:$grey-lt;
			}
			&[data-prop='volatility'],
			&[data-prop$='release'] {

			}

		}

	}

	td {
		font-size:16px;
		&[data-prop='symbol'] {
			font-size:12px;
			padding-left:0;
		}
		&[data-prop='coinname'] {
			width:8em;
		}
		&[data-prop='team'],
		&[data-prop$='users'],
		&[data-prop$='forks'],
		&[data-prop$='stars'] {
			width:10em;
			transform:translateX(-33.333%);
		}

	}

}

// [data-prop='symbol'],
[data-prop='release'] {
	white-space: nowrap;
}

[data-prop='blockchain'],
[data-prop='team'],
[data-prop='volatility'],
[data-prop$='release'],
[data-prop$='users'],
[data-prop$='forks'],
[data-prop$='stars'] {
	display:none;
}

@media only screen and (min-width:900px) {

	[data-prop='blockchain'],
	[data-prop='team'] {
		display:table-cell;
	}

}

@media only screen and (min-width:1200px) {

	[data-prop$='users'],
	[data-prop$='forks'],
	[data-prop$='stars'] {
		display:table-cell;
	}

}

@media only screen and (min-width:1500px) {

	[data-prop='volatility'],
	[data-prop$='release'] {
		display:table-cell;
	}

}
