#coin-list {
	th {
		padding-bottom:1.2em;
		h2 {
			font-size:16px;
			line-height:1.3;
		}
		&[data-prop] {
			cursor:pointer;

			.sortable {
				display:flex;
				flex-flow:column-reverse;
				justify-content:space-between;
				align-items:center;
			}

			i.fa {
				margin-bottom:-1.55em;
				font-size:1.2em;
				opacity:0.2;
			}

			&.sorted {
				background:#f0f0f0;
				i.fa {
					opacity:0.7;
				}
			}
		}
	}

	td {
		font-size:16px;

		&.symbol {
			font-size:12px;
		}
		&.team {
			transform:translateX(-33.333%);
		}
		&.users {
			transform:translateX(-25%);
		}
	}

}

[data-prop="symbol"],
[data-prop="release"] {
	white-space: nowrap;
}

[data-prop="blockchain"],
[data-prop="team"],
[data-prop="volatility"],
[data-prop$="release"],
[data-prop$="users"],
[data-prop$="forks"] {
	display:none;
}

@media only screen and (min-width:900px) {

	[data-prop="blockchain"],
	[data-prop="team"] {
		display:table-cell;
	}

}

@media only screen and (min-width:1200px) {

	[data-prop$="users"],
	[data-prop$="forks"] {
		display:table-cell;
	}

}

@media only screen and (min-width:1500px) {

	[data-prop="volatility"],
	[data-prop$="release"] {
		display:table-cell;
	}

}
