/*! INDEX */
@import 'variables';

.tools {
	display:flex;
	flex-flow:row wrap;
	align-items:flex-end;
	justify-content:space-between;

	#coin-search {
		flex:1 0 100%;
		white-space:nowrap;

		input {
			width:30em;
			max-width:100%;
			padding:0.8em;
			padding-right:3em;
			margin-bottom:0.333em;

			&:focus {
				outline: 1px dotted;
			}
		}

		i.fa {
	    color:$grey-md;
	    transform: translate(-150%, 5px);
		}
	}

	#search-type {
		margin-left:0.5em;
		margin-bottom:0;

		.form-check {
			margin-bottom:0;
		}

		.custom-control {

			input {
				-webkit-appearance:checkbox;
				-moz-appearance:checkbox;
				-ms-appearance:checkbox;
			}

			.custom-control-indicator {
				background-color:#fff;
				border:1px solid $grey-md;
				border-radius:0;
			}

			.custom-control-input {

				&:checked~.custom-control-indicator {
					color:$acc-purple;
					background-color:#fff;
					font-size:1.5em;
					line-height:0.4em;
 					-webkit-text-stroke:2px #fff;

					&:before {
						display:block;
						content:'\f00c';
						transform: translateX(-2px);
					}
				}
				&:focus~.custom-control-indicator {
					box-shadow:none;
				}
			}
		}
	}

	#error-report {
		margin-bottom:0.333em;

		a:link,
		a:active,
		a:visited {
			color: $ind-red;
		}
		a:hover {
			text-decoration:underline;
		}
	}
}

#coin-list {

	th {
		padding-bottom:0.2em;

		h2 {
			font-size:1rem;
			line-height:1.3;
		}
		&[data-prop] {
			cursor:pointer;

			.sortable {
				display:flex;
				flex-flow:row nowrap;
				justify-content:space-between;
				align-items:center;

				h2 {
					margin-left:0.2em;
				}
			}

			&.sorted {
				background:#f0f0f0;

				&.asc i.fa-arrow-up {
					opacity:0.7;
				}
				&.desc i.fa-arrow-down {
					opacity:0.7;
				}
			}

			i.fa {
				font-size:0.8em;
				opacity:0.3;
				display:none;
			}

			i.fa-arrow-up {
				transform: translate(-3px, -6px);
			}
			i.fa-arrow-down {
				transform: translate(3px, 6px);
			}

			&[data-prop='rank'] {
				width:56px;
			}
			&[data-prop$='rank'],
			&[data-prop='coinname'],
			&[data-prop='symbol'],
			&[data-prop='type'],
			&[data-prop='trend'] {
				text-align:left;
				background:$grey-dk;
			}
			&[data-prop='blockchain'],
			&[data-prop='team'],
			&[data-prop$='users'] {
				text-align:left;
				background:$grey-md;
			}
			&[data-prop$='forks'],
			&[data-prop$='stars'] {
				background:$grey-lt;
			}
			&[data-prop='volatility'],
			&[data-prop$='release'] {

			}

		}

	}

	td {
		font-size:1em;
		&[data-prop='symbol'] {
			font-size:0.75em;
			padding-left:0;
		}
		&[data-prop='coinname'] {
			width:8em;
		}
		&[data-prop='team'],
		&[data-prop$='users'],
		&[data-prop$='forks'],
		&[data-prop$='stars'] {
			width:10em;
			transform:translateX(-33.333%);
		}

	}

	tfoot {

		.pg-tools {
			display:flex;
			flex-flow:row nowrap;
			justify-content:center;
			align-items:center;

			a {
				display:block;
			}
		}
	}

}

// [data-prop='symbol'],
[data-prop='release'] {
	white-space: nowrap;
}

[data-prop='blockchain'],
[data-prop='team'],
[data-prop='volatility'],
[data-prop$='release'],
[data-prop$='users'],
[data-prop$='forks'],
[data-prop$='stars'] {
	display:none;
}

@media only screen and (min-width:600px) {

	#coin-list {
		th[data-prop] {
			i.fa {
				display:block;
			}
		}
	}
}

@media only screen and (min-width:900px) {

	[data-prop='blockchain'],
	[data-prop='team'] {
		display:table-cell;
	}

}

@media only screen and (min-width:1200px) {

	[data-prop$='users'],
	[data-prop$='forks'],
	[data-prop$='stars'] {
		display:table-cell;
	}

}

@media only screen and (min-width:1500px) {

	[data-prop='volatility'],
	[data-prop$='release'] {
		display:table-cell;
	}

}
